<h1><%= @patch.name %></h1>

<% if can? :update, @patch %>
  <%= link_to 'Edit', edit_patch_path(@patch) %>
<% end %>

<p><%= @patch.notes %></p>

<ul class="tags">
  <li><%= icon 'tags' %></li>
  <% @patch.tag_list.each do |tag| %>
    <li>
      <%= link_to "##{tag}", patches_path(tag: tag) %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Download', @patch.file.url %></p>
