<!DOCTYPE html>
<html>
<head>
  <title>Minilogue Patches</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <%= render 'layouts/header' %>

  <main class="constrained">
    <div id="midi-info"></div>
    
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>

</body>
</html>
